<div class="basic">
    <div class="container base-container">
        <div class="row justify-content-between">
            <div class="col-md main-info">
                <h1 class="main-party-name">
                    Ліцейна партія «Вектор»
                </h1>
                <img alt="" class="upper-arrow-right" height="16" ngSrc="assets/arrow-right.svg" width="251">
                <p class="proud-text">
                    Ми наполегливо працюємо над популяризацією нашого ліцею "ФІМЛІ". Наші учні вже брали участь у різних
                    заходах та проектах, включаючи модель ООН, "Наукову хатку", олімпіади, МАН і багато інших подій.
                </p>
                <h2>Наші плани</h2>
                <p>• Покращення Конституції: Ми плануємо внести зміни та розширити Конституцію ліцею, додавши нові
                    пункти та
                    положення.</p>
                <p>• Ярмарки та фестивалі: Чекайте на захоплюючі ярмарки та фестивалі, що створять яскравий ліцейний
                    досвід.</p>
                <p>• Реалізувати Ваші ідеї: ми допомагаємо Вам здобути фінансову підтримку для втілення Ваших проектів
                    через
                    грантові ресурси.</p>
                <div class="small-arrow-down">
                    <img alt="" class="" height="71" ngSrc="assets/arrow-down-small.svg" width="16">
                </div>

            </div>
            <div class="col-md-4 lamp-img">
                <img alt="" height="729" ngSrc="assets/lamp.svg" width="552">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container president-container">
        <h1>Наш спікер</h1>
        <h6>Єгор Мельник 4-В</h6><br>
    </div>
    <div class="container president-container">
        <div class="row justify-content-between flex-column-reverse flex-md-row">
            <div class="col-md-7 ">
                <p class="president-info-text">
                    Привіт, мене звати Єгор і я учень 4-В курсу та лідер партії "Вектор". Моя мета стати спікером ФІМЛІ.
                    <br>
                    <br>
                    Дозвольте мені розповісти трохи більше про себе та мої навички. Я є відмінником та переможцем
                    міської олімпіади з математики 2022-2023 років. Маю вроджені та добре розвинені лідерські якості.
                    <br>
                    <br>
                    А тепер давайте більш детальніше поговоримо про мою передвиборчу кампанію. По-перше, моя мета -
                    змінити ліцей на краще. Я планую досягти цього різними способами, включаючи проведення ярмарків,
                    фестивалів та інших розважальних заходів.
                    <br>
                    <br>
                    По-друге я буду слідкувати за виконанням усіх обов'язків усіма очільниками комітетів та їх
                    підлеглих.
                    <br>
                    <br>
                    Також в моїх цілях є ще багато пунктів, таких як розповсюдження та змінення конституції ФІМЛІ та
                    інших статутів через їх застарілість.
                    <br>
                    <br>
                    І найголовніше, якщо ви маєте гарні ідеї та пропозиції, я буду дослухатися і намагатися просувати їх
                    за допомогою грантових ресурсів.
                    <br>
                    <br>
                    Давайте разом створимо нове, більш демократичне та дружнє суспільство в ФІМЛІ!
                </p>
                <h4 class="noPc" style="font-weight: 700;">Ідеї та пропозиції:
                    @egorkamelnik</h4>
                <img alt="" class="noPc" height="16" ngSrc="assets/arrow-right-small-mobile.svg"
                     width="179">
            </div>
            <div class="col-md-5 president-photo-div">
                <img alt="" class="photo-img" height="678" ngSrc="assets/president.png" width="520">
                <br><br>
                <img alt="" class="noMobile" height="16" ngSrc="assets/arrow-left-under-proto-big.svg" width="521">
                <h4 class="noMobile">Ідеї та пропозиції: @egorkamelnik</h4>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-md">
                <h3 style="font-weight: 700;">
                    Наші голови комітетів
                </h3>
            </div>
            <div class="col-md slider-control-container">
                <div class="container slider-control-buttons">
                    <a data-bs-slide="prev" href="#slider" role="button">
                        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>

                    <a data-bs-slide="next" href="#slider" role="button">
                        <span aria-hidden="true" class="carousel-control-next-icon"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div class="carousel slide" data-bs-ride="carousel" id="slider">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row justify-content-center flex-column-reverse flex-md-row">
                        <div class="col-md-6">
                            <div class="slider-content">
                                <h4>Голова навчально-пізнавальної роботи</h4>
                                <h5>Вікторія Тарасенко 3-Б</h5><br>
                                <p>Привіт, мене звати Вікторія, і я навчаюся у 3-Б класі. Моя мета - стати головою з
                                    навчально-пізнавальної роботи у нашому ліцеї.
                                    <br>
                                    <br>
                                    Я активна, комунікабельна, відкрита, креативна і творча людина. Я брала участь у
                                    благодійному балі "Модель ООН - 2023" від Учнівської Міжпарламентської Асамблеї. Ця
                                    подія дала мені можливість познайомитися з цікавими, творчими та розумними людьми,
                                    які надихають мене на нові ідеї та проекти.
                                    <br>
                                    <br>
                                    Я вмію висловлювати свою думку і відстоювати її, та завжди долаю всі труднощі на
                                    шляху до досягнення цілей. Маю розвинені ораторські здібності, що допомагають мені
                                    ефективно спілкуватися та впливати на інших.
                                    <br>
                                    <br>
                                    Я маю намір працювати наполегливо та завзято, щоб підвищити якість
                                    навчально-пізнавальної діяльності в нашому ліцеї та допомогти учням розвиватися та
                                    навчатися ще краще.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="slider-content">
                                <img alt="" class="photo-img" height="678" ngSrc="assets/president.png" width="520">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-center flex-column-reverse flex-md-row">
                        <div class="col-md-6">
                            <div class="slider-content">
                                <h5>Slide 2</h5>
                                <p>Vestibulum eu justo nec tellus hendrerit scelerisque.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="slider-content">
                                <img alt="" class="photo-img" height="678" ngSrc="assets/president.png" width="520">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add more slides as needed -->
            </div>
            <!--            <a class="carousel-control-prev" data-bs-slide="prev" href="#slider" role="button">-->
            <!--                <span aria-hidden="true" class="carousel-control-prev-icon"></span>-->
            <!--                <span class="visually-hidden">Previous</span>-->
            <!--            </a>-->
            <!--            <a class="carousel-control-next" data-bs-slide="next" href="#slider" role="button">-->
            <!--                <span aria-hidden="true" class="carousel-control-next-icon"></span>-->
            <!--                <span class="visually-hidden">Next</span>-->
            <!--            </a>-->
        </div>
    </div>
    <br>
    <br>
    <footer class="container">
        <div class="row justify-content-start">
            <div class="col-md-4">
                <h4>
                    «Vector» creators:<br>
                    @bynarig<br>
                    @Yanchukme
                </h4>
            </div>
            <div class="col-md-4">
                <p>© Visit everywhere Holdings, 2023</p>
            </div>
            <div class="col-md-4">
                <a href="https://github.com/bynarig">
                    <img height="70" ngSrc="assets/github-logo.svg" width="70">
                </a>

            </div>
        </div>
    </footer>
</div>

<router-outlet></router-outlet>
